.footer_main {
    position:relative;
   bottom:0;
   width:100%;
   height:150px;   /* Height of the footer */
   background:#6cf;
   padding-top: 60px;
}
#main-content{
	background-color: #3090C7;
	min-height: 624px;
	padding: 30px;
}
.footer_content{
	padding-top: 20px;
	text-align: center;
}
.news_heading{
	text-align: center;
}
.news_item{
	border-bottom:solid 1px;
	border-right:solid 1px;
	padding: 10px;
}
.room_item{
	width:180px;
	padding-top:20px;
}

.sidebar{
	height: auto;
	border-left: solid 1px;
	border-right: solid 1px;
	padding: 5px; 
	margin-top: 10px;
}
.index_img1{
	margin-top: 20px; 
	height:350px; 
	width: 700px;
	padding-left: 100px;
}
.index_img2{
	margin: auto; 
	height:300px; 
	width: 500px;
}
.slider_images{
	width: 600px; 
	height: 180px;
	margin:auto;
}



.table1 {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: auto;
        margin: auto;

    }
     th {
        border: 3px solid black;
        text-align: left;
        padding: 8px;
        width:300px;
    } 
    .td1 {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
        width:300px;
    }
    
    tr:nth-child(even) {     /*  OVO NAPRAVI SVAKI DRUGI RED DA BUDE BELE BOJE  */
        background-color: #dddddd;
    }
    .links{
        margin:auto;
    }




/* MEDIA QUERIES */

@media screen and (min-width: 300px) and (max-width: 700px){
	.footer_main{
		padding-top: 0px;
		background:white;

	}
	.slider_images{
		width: 300px;
	}
	.index_img2{
		width: 300px;
	}
	/*.table1{
		width: 300px;
	}*/
	.td1{
		width: 140px;
	}
	.th{
		width: 100px;
	}
	.tr{
		width: 250px;
	}

}